{% extends "_layout.html" %} 
{% block content %} 
    <div class="styled_form_div">
      <form action="{{ url_for('images.create_picture', id=current_user.id) }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <label for="img_file">Upload Your File</label>
        <br></br>
        <img id="profileimg" src="https://dummyimage.com/sqrpop" alt="profile image" />
        <br></br>
        <input type="file" name="img_file" onchange="readURL(this);">
        <br></br>
        <button type="submit" class="btn btn-primary">Upload</button>

    </form>
    </div>
    
    </p>
    {% endblock %}
    